include mixins.pug
.modal(data-modal-id="rentalModal")
  .modal__box-copy.modal__box
    .modal__box-close 
      button.modal__close
        span
        span
    form(action="#").modal__form
      h2.modal__title Прокат костюма
      p.modal__desc Для аренды костюма Вам нужно подойти в наш фирменный салон на примерку, подписать договор аренды и оставить залог за костюм.
      ul.modal__copy-list-1
        li 
          +dflt-label-input("Ваше имя","rentaltName")
        li 
          +dflt-label-input-placeholder("Телефон","rentaltPhone","+7")
        li 
          +dflt-label-input("E-mail","rentaltEmail")
        li 
          +dflt-label-input("Когда вам удобно будет подойти?","rentaltComment")
      ul.modal__copy-list-2 
        li 
          +checkbox2("rentaltPrivacyPolicy")
        li 
          +checkbox3("rentaltRental")
      button.dflt-bttn Отправить заявку

  .modal__box-subs.modal__box.none
    .modal__box-close 
      button.modal__close
        span
        span
    h2.modal__title Заявка отправлена
    p.modal__desc
      | Мы обязательно перезвоним Вам в ближайшее время
    a(href="/").dflt-bttn Вернуться в каталог