.modal.none(data-modal-id="subsModal")
  .modal__box-subs.modal__box
    .modal__box-close 
      button.modal__close
        span
        span
    h2.modal__title Подписка оформлена
    p.modal__desc
      | Спасибо за интерес к нашей фабрике. Мы будем стараться радовать Вас приятными новостями в каждом письме.
    a(href="/").dflt-bttn На главную