section.get-callback
  .container-full
    .get-callback__inner
      .get-callback__col
        .get-callback__info
          h2.get-callback__title
            | Оставьте заявку 
            br
            | на индивидуальный пошив
          p.get-callback__desc
            | Для себя, организации или мероприятия
          ul.get-callback__list
            li
              span 1
              | Заполните форму с данными о заказчике. При возможности, проведите измерения параметров и заполните соответсвующие поля.
            li
              span 2
              | Дождитесь подтверждения заказа от нашего менеджера по телефону. 
            li
              span 3
              | При необходимости подойдите в наш фирменный салон для уточнения мерок или информации по заказу.
            li
              span 4
              | Забрать готовое изделие вы сможете самостоятельно из нашего фирменного салона, либо мы отправим вам его транспортной компанией в любую точку России.
          a.dflt-bttn(href="#") 
            span Заполнить форму заявки 
      .get-callback__col
        .get-callback__img
          img(src="img/content-img-4.jpg", alt="#")