link(rel="stylesheet", href="css/plugins.min.css")

link(rel="stylesheet", href="css/fonts.min.css")
link(rel="stylesheet", href="css/header.min.css")
link(rel="stylesheet", href="css/main.min.css")
link(rel="stylesheet", href="css/media.min.css")
link(rel="stylesheet", href="css/custom.min.css")