include layouts/mixins.pug
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Каталог - Сайт ТИЗ


		link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
		

		include layouts/styles.pug
	body
		.page-wrapper

			include layouts/header.pug

			.dflt-breadcrumbs
				.container
					ul
						li
							a(href="#") Главная
						li
							span Театральные костюмы

			section.main-catalog-list
				.container
					h1.main-catalog-list__title
						| Театральные костюмы
					.main-catalog-list__inner
						button.main-catalog-list__hidden-menu#btnHiddenMenuTabs 
							img(src="img/icons/1.svg" alt="icon")
							span Костюмы по тематикам
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M4.14645 2.64645C4.34171 2.45118 4.65829 2.45118 4.85355 2.64645L7.85355 5.64645C8.04882 5.84171 8.04882 6.15829 7.85355 6.35355L4.85355 9.35355C4.65829 9.54882 4.34171 9.54882 4.14645 9.35355C3.95118 9.15829 3.95118 8.84171 4.14645 8.64645L6.79289 6L4.14645 3.35355C3.95118 3.15829 3.95118 2.84171 4.14645 2.64645Z" fill="#153138"/>
							</svg>
						+catalog-main-menu-tabs
						.main-catalog-list__content
							.main-catalog-list__box-filter
								+filter-main
								+filter-advanced
								.main-catalog-list__box-counter
									.favorites__count
										.favorites__count-number
											| Найдено: 
											span 0
										.favorites__count-sort
											.dflt-choices
												select
													option(value="option1") По дате добавления
													option(value="option2") По цене
													option(value="option3") Сначала популярные
							.main-catalog-list__box-zero 
								+catalog-box-zero
							h2.products-plates__title Возможно вы искали
							.main-catalog-list__grid
								.dflt-product-list-card
									span.dflt-product-list-card__tag.dflt-product-list-card__tag_red Акция
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price.red 133 600 руб.
											span.dflt-product-list-card__price-old 150 600 руб.
								.dflt-product-list-card
									span.dflt-product-list-card__tag в наличии
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price 133 600 руб.
								.dflt-product-list-card
									span.dflt-product-list-card__tag Хит
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price 133 600 руб.
								.dflt-product-list-card
									span.dflt-product-list-card__tag Новая коллекция
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price 133 600 руб.
								.dflt-product-list-card
									span.dflt-product-list-card__tag в наличии
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price 133 600 руб.
								.dflt-product-list-card
									span.dflt-product-list-card__tag в наличии
									button.dflt-product-list-card__fav
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
										</svg>
									a.dflt-product-list-card__link(href="#")
										span.dflt-product-list-card__img
											img(src="img/shop-item-2.png", alt="#")
										span.dflt-product-list-card__name Очки стимпанк
										span.dflt-product-list-card__price 133 600 руб.
								
			
			section.products-plates
				.container
					h2.products-plates__title Вам понравится
					.products-plates__slider.swiper
						.swiper-wrapper
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav.active
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-5.png", alt="#")
									span.products-plates__slider-item-name Очки стимпанк
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-6.png", alt="#")
									span.products-plates__slider-item-name Ажурные длинные перчатки красного цвета
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-7.png", alt="#")
									span.products-plates__slider-item-name Венецианская маска Баута (Bauta)
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-8.png", alt="#")
									span.products-plates__slider-item-name Красное боа из перьев петуха
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-2.png", alt="#")
									span.products-plates__slider-item-name Очки стимпанк
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-6.png", alt="#")
									span.products-plates__slider-item-name Ажурные длинные перчатки красного цвета
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-7.png", alt="#")
									span.products-plates__slider-item-name Венецианская маска Баута (Bauta)
									span.products-plates__slider-item-price 133 600 руб.
							.products-plates__slider-item.swiper-slide
								button.products-plates__slider-item-fav
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4742 6.02421L13.4142 7.08421C12.6332 7.86526 11.3668 7.86526 10.5858 7.08421L9.52578 6.02421C8.86916 5.36759 7.9786 4.9987 7.05 4.9987C6.1214 4.9987 5.23083 5.36759 4.57421 6.02421C3.91759 6.68083 3.54871 7.57139 3.54871 8.49999C3.54871 9.42859 3.91759 10.3192 4.57421 10.9758L12 18.4016L19.4258 10.9758C19.751 10.6508 20.0092 10.2645 20.1852 9.83977C20.3612 9.41502 20.4518 8.95976 20.4518 8.49999C20.4518 8.04023 20.3612 7.58497 20.1852 7.16022C20.0092 6.73548 19.7513 6.34957 19.4261 6.02454L20.84 4.60998C21.351 5.12073 21.7563 5.72718 22.0329 6.39464C22.3095 7.0621 22.4518 7.77751 22.4518 8.49999C22.4518 9.22248 22.3095 9.93789 22.0329 10.6053C21.7563 11.2728 21.351 11.8792 20.84 12.39L12 21.23L3.16 12.39C2.1283 11.3583 1.54871 9.95903 1.54871 8.49999C1.54871 7.04096 2.1283 5.64169 3.16 4.60999C4.19169 3.5783 5.59096 2.9987 7.05 2.9987C8.50903 2.9987 9.9083 3.5783 10.94 4.60999L12 5.66999L13.06 4.60999C13.5708 4.099 14.1772 3.69364 14.8446 3.41708C15.5121 3.14052 16.2275 2.99817 16.95 2.99817C17.6725 2.99817 18.3879 3.14052 19.0554 3.41708C19.7228 3.69364 20.3293 4.09898 20.84 4.60998L19.4261 6.02454C19.1011 5.69936 18.7145 5.44074 18.2898 5.26475C17.865 5.08875 17.4098 4.99817 16.95 4.99817C16.4902 4.99817 16.035 5.08875 15.6102 5.26475C15.1855 5.44074 14.7992 5.69903 14.4742 6.02421Z" fill="#A0C6CE"/>
									</svg>
								a.products-plates__slider-item-link(href="#")
									span.products-plates__slider-item-img
										img(src="img/shop-item-8.png", alt="#")
									span.products-plates__slider-item-name Красное боа из перьев петуха
									span.products-plates__slider-item-price 133 600 руб.
						.products-plates__slider-nav
							.swiper-button-prev
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M10.9714 3.52876C11.2317 3.78911 11.2317 4.21122 10.9714 4.47157L7.44279 8.00016L10.9714 11.5288C11.2317 11.7891 11.2317 12.2112 10.9714 12.4716C10.711 12.7319 10.2889 12.7319 10.0286 12.4716L6.02858 8.47157C5.76823 8.21122 5.76823 7.78911 6.02858 7.52876L10.0286 3.52876C10.2889 3.26841 10.711 3.26841 10.9714 3.52876Z" fill="#53818C"/>
								</svg>
							.swiper-button-next
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M6.02858 3.52876C6.28892 3.26841 6.71103 3.26841 6.97138 3.52876L10.9714 7.52876C11.2317 7.78911 11.2317 8.21122 10.9714 8.47157L6.97138 12.4716C6.71103 12.7319 6.28892 12.7319 6.02858 12.4716C5.76823 12.2112 5.76823 11.7891 6.02858 11.5288L9.55717 8.00016L6.02858 4.47157C5.76823 4.21122 5.76823 3.78911 6.02858 3.52876Z" fill="#53818C"/>
								</svg>
			
			include layouts/s-subscribe.pug

			include layouts/footer.pug

		include layouts/scripts.pug
