doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Контакты - Сайт ТИЗ


		link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
		

		include layouts/styles.pug
	body
		.page-wrapper

			include layouts/header.pug

			.dflt-breadcrumbs
				.container
					ul
						li
							a(href="#") Главная
						li
							span Контакты
			
			section.contacts-information
				.container
					h1.contacts-information__title Наши контакты
					.contacts-information__cards-wrapp
						.contacts-information__card.card-main
							.contacts-information__info
								ul.contacts-information__link-group 
									li 
										a(href="mailto:tizspb@gmail.com")
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21 3C21 1.9 20.1 1 19 1H3C1.9 1 1 1.9 1 3M21 3V15C21 16.1 20.1 17 19 17H3C1.9 17 1 16.1 1 15V3M21 3L11 10L1 3" stroke="#53818C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
											</svg> tizspb@gmail.com
									li
										a(href="tel:+78007004493")
											<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.12903 2.28609L1.16537 2.26338L5.75956 0L10.7182 6.61155L8.43687 9.65357C8.50514 10.8008 8.99165 11.8832 9.80429 12.6958C10.6169 13.5084 11.6993 13.9949 12.8465 14.0632L15.8885 11.7818L22.5 16.7404L20.2555 21.2962L20.2366 21.3346L20.2138 21.3709C20.094 21.5639 19.9268 21.7231 19.7282 21.8332C19.5295 21.9433 19.3059 22.0007 19.0788 22H17.8933C15.6092 22 13.3474 21.5501 11.2372 20.676C9.12693 19.8019 7.2095 18.5207 5.59438 16.9056C3.97925 15.2905 2.69808 13.373 1.82398 11.2628C0.949888 9.1525 0.499998 6.89074 0.500006 4.60661V3.42109C0.499279 3.19395 0.556702 2.9704 0.666807 2.77173C0.776913 2.57305 0.936033 2.40587 1.12903 2.28609ZM2.19777 4.60661C2.19777 13.2612 9.2388 20.3022 17.8933 20.3022H18.8526L20.3544 17.2535L15.8882 13.9039L13.4017 15.7687H13.1187C11.4251 15.7668 9.80147 15.0932 8.60393 13.8957C7.40639 12.6982 6.73279 11.0745 6.73089 9.38092V9.09797L8.59572 6.6115L5.24647 2.1456L2.19777 3.64764V4.60661Z" fill="#53818C" />
											</svg> 8 800 700 44 93
								.contacts-information__link-box
									p.contacts-information__desc
										| Телефоны для связи в WhatsApp и Telegram:
									ul.contacts-information__list
										li 
											a(href="#") +7 962 726-35-74
										li 
											a(href="#") +7 905 212-27-72
								h3.contacts-information__caption
									|	Фирменный салон в Санкт-Петербурге
								p.contacts-information__desc
									| Адрес: 199397, Россия, Санкт-Петербург, станция метро "Приморская", Новосмоленская набережная, д. 4 (сразу за домом № 4 вы увидите вывеску салона " Театральные костюмы" Фабрика).
								p.contacts-information__desc
									| Режим работы фирменного салона в СПб в августе 2024:
									span Пн-Пт: 10:00 - 20:00
									span Сб: 11:00 - 19:00
									span Вс: Выходной
							.contacts-information__img
								img(src="img/contacts-img-1.jpg", alt="img")
						.contacts-information__map#map
						.contacts-information__card.card
							.contacts-information__info
								h3.contacts-information__caption
									|	Филиал фабрики в Калининграде
								p.contacts-information__desc
									| Мастерские «Санкт-Петербургский Театр Имперских Зрелищ» информируют о открытии филиала в г. Екатеринбург. «Театр Имперских Зрелищ» - это театральные и карнавальные костюмы, комплексное оснащение мероприятий, команда профессиональных  художников по костюмам, производство, прокат и продажа.
								ul.contacts-information__link-group 
									li 
										a(href="mailto:tizspb@gmail.com")
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21 3C21 1.9 20.1 1 19 1H3C1.9 1 1 1.9 1 3M21 3V15C21 16.1 20.1 17 19 17H3C1.9 17 1 16.1 1 15V3M21 3L11 10L1 3" stroke="#53818C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
											</svg> tizspb@gmail.com
									li
										a(href="tel:+78007004493")
											<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.12903 2.28609L1.16537 2.26338L5.75956 0L10.7182 6.61155L8.43687 9.65357C8.50514 10.8008 8.99165 11.8832 9.80429 12.6958C10.6169 13.5084 11.6993 13.9949 12.8465 14.0632L15.8885 11.7818L22.5 16.7404L20.2555 21.2962L20.2366 21.3346L20.2138 21.3709C20.094 21.5639 19.9268 21.7231 19.7282 21.8332C19.5295 21.9433 19.3059 22.0007 19.0788 22H17.8933C15.6092 22 13.3474 21.5501 11.2372 20.676C9.12693 19.8019 7.2095 18.5207 5.59438 16.9056C3.97925 15.2905 2.69808 13.373 1.82398 11.2628C0.949888 9.1525 0.499998 6.89074 0.500006 4.60661V3.42109C0.499279 3.19395 0.556702 2.9704 0.666807 2.77173C0.776913 2.57305 0.936033 2.40587 1.12903 2.28609ZM2.19777 4.60661C2.19777 13.2612 9.2388 20.3022 17.8933 20.3022H18.8526L20.3544 17.2535L15.8882 13.9039L13.4017 15.7687H13.1187C11.4251 15.7668 9.80147 15.0932 8.60393 13.8957C7.40639 12.6982 6.73279 11.0745 6.73089 9.38092V9.09797L8.59572 6.6115L5.24647 2.1456L2.19777 3.64764V4.60661Z" fill="#53818C" />
											</svg> 8 800 700 44 93
								p.contacts-information__desc
									| Режим работы фирменного салона в СПб в августе 2024:
									span Пн-Пт: 10:00 - 20:00
									span Сб: 11:00 - 19:00
									span Вс: Выходной
							.contacts-information__img
								img(src="img/contacts-img-2.jpg", alt="img")
						.contacts-information__card.card
							.contacts-information__info
								h3.contacts-information__caption
									|	Представительство в Москве
								p.contacts-information__desc
									| Мастерские «Санкт-Петербургский Театр Имперских Зрелищ» информируют о открытии филиала в г. Екатеринбург. «Театр Имперских Зрелищ» - это театральные и карнавальные костюмы, комплексное оснащение мероприятий, команда профессиональных  художников по костюмам, производство, прокат и продажа.
								ul.contacts-information__link-group 
									li 
										a(href="mailto:tizspb@gmail.com")
											<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21 3C21 1.9 20.1 1 19 1H3C1.9 1 1 1.9 1 3M21 3V15C21 16.1 20.1 17 19 17H3C1.9 17 1 16.1 1 15V3M21 3L11 10L1 3" stroke="#53818C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
											</svg> tizspb@gmail.com
									li
										a(href="tel:+78007004493")
											<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1.12903 2.28609L1.16537 2.26338L5.75956 0L10.7182 6.61155L8.43687 9.65357C8.50514 10.8008 8.99165 11.8832 9.80429 12.6958C10.6169 13.5084 11.6993 13.9949 12.8465 14.0632L15.8885 11.7818L22.5 16.7404L20.2555 21.2962L20.2366 21.3346L20.2138 21.3709C20.094 21.5639 19.9268 21.7231 19.7282 21.8332C19.5295 21.9433 19.3059 22.0007 19.0788 22H17.8933C15.6092 22 13.3474 21.5501 11.2372 20.676C9.12693 19.8019 7.2095 18.5207 5.59438 16.9056C3.97925 15.2905 2.69808 13.373 1.82398 11.2628C0.949888 9.1525 0.499998 6.89074 0.500006 4.60661V3.42109C0.499279 3.19395 0.556702 2.9704 0.666807 2.77173C0.776913 2.57305 0.936033 2.40587 1.12903 2.28609ZM2.19777 4.60661C2.19777 13.2612 9.2388 20.3022 17.8933 20.3022H18.8526L20.3544 17.2535L15.8882 13.9039L13.4017 15.7687H13.1187C11.4251 15.7668 9.80147 15.0932 8.60393 13.8957C7.40639 12.6982 6.73279 11.0745 6.73089 9.38092V9.09797L8.59572 6.6115L5.24647 2.1456L2.19777 3.64764V4.60661Z" fill="#53818C" />
											</svg> 8 800 700 44 93
								p.contacts-information__desc
									| Режим работы фирменного салона в СПб в августе 2024:
									span Пн-Пт: 10:00 - 20:00
									span Сб: 11:00 - 19:00
									span Вс: Выходной
							.contacts-information__img
								img(src="img/contacts-img-3.jpg", alt="img")
			
			section.contacts-requisites
				.container.contacts-requisites__container
					.contacts-requisites__left
						h2.contacts-requisites__title
							| Реквизиты компании
						ul.contacts-requisites__list.list-left
							li 
								span Название организации:
								span ИП Назаров Василий Борисович
							li 
								span ИНН
								span 87645854845678548754
							li 
								span БИК
								span 87645854845678548754
							li 
								span ИНН
								span 87645854845678548754
							li 
								span БИК
								span 87645854845678548754
							li 
								span Наименование организации
								span Фабрика театральных костюмов «ТИЗ»
							li 
								span Юридический адрес
								span Россия, 199226, Санкт-Петербург, Наличная ул., дом № 36, корпус 5, литера Б, помещение 34Н
							li 
								span БИК
								span 87645854845678548754
					.contacts-requisites__right
						h2.contacts-requisites__title
							| Подписывайтесь на нас в соц. сетях:
						ul.contacts-requisites__list.list-rignt
							li 
								a(href="#")
									<svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M23.8727 14.1605C23.8437 14.0927 23.8166 14.0364 23.7914 13.9913C23.375 13.1789 22.5793 12.1817 21.4047 10.9994L21.3799 10.9723L21.3675 10.959L21.3549 10.9454H21.3423C20.8092 10.3949 20.4716 10.0247 20.3303 9.83522C20.0716 9.47421 20.0137 9.10879 20.155 8.73853C20.2549 8.45879 20.6301 7.868 21.2797 6.96538C21.6213 6.48702 21.892 6.10363 22.0918 5.81478C23.5331 3.73899 24.1579 2.41253 23.9662 1.83488L23.8918 1.69989C23.8418 1.61863 23.7127 1.54428 23.5046 1.47648C23.2961 1.40882 23.0296 1.39763 22.7047 1.44272L19.106 1.46965C19.0477 1.44727 18.9644 1.44936 18.856 1.47648C18.7477 1.5036 18.6935 1.51721 18.6935 1.51721L18.6308 1.55111L18.5811 1.59184C18.5395 1.61877 18.4936 1.66614 18.4436 1.73384C18.3938 1.80131 18.3522 1.88049 18.319 1.97072C17.9272 3.06272 17.4817 4.078 16.9817 5.01652C16.6735 5.57615 16.3904 6.06115 16.1319 6.4718C15.8737 6.88231 15.6571 7.18477 15.4823 7.37864C15.3072 7.57271 15.1492 7.72818 15.0073 7.84563C14.8657 7.96312 14.7575 8.01276 14.6826 7.9946C14.6076 7.97644 14.5369 7.95842 14.47 7.94041C14.3534 7.85914 14.2597 7.74862 14.189 7.60874C14.118 7.46887 14.0702 7.29282 14.0452 7.08074C14.0203 6.86851 14.0056 6.68597 14.0014 6.53249C13.9975 6.3792 13.9993 6.16237 14.0078 5.88263C14.0164 5.60275 14.0203 5.41337 14.0203 5.31409C14.0203 4.97109 14.0265 4.59884 14.0389 4.19725C14.0515 3.79565 14.0617 3.47745 14.0702 3.24304C14.0787 3.00838 14.0827 2.76012 14.0827 2.4984C14.0827 2.23667 14.068 2.03141 14.0389 1.88244C14.0102 1.73365 13.9661 1.58923 13.908 1.44922C13.8496 1.30934 13.7641 1.20114 13.6519 1.12433C13.5394 1.04762 13.3996 0.986738 13.2333 0.941505C12.7917 0.833258 12.2294 0.774702 11.5462 0.765598C9.99681 0.747581 9.00124 0.855969 8.55972 1.09062C8.38478 1.18977 8.22648 1.32523 8.08494 1.49658C7.93495 1.6952 7.91402 1.80359 8.0223 1.82142C8.52221 1.90254 8.87611 2.09661 9.0844 2.40343L9.15946 2.56601C9.21784 2.68331 9.27614 2.89099 9.33448 3.18875C9.39273 3.48651 9.43033 3.81589 9.44687 4.17672C9.48845 4.83563 9.48845 5.39967 9.44687 5.86888C9.40516 6.33828 9.36577 6.7037 9.32818 6.96543C9.29058 7.22715 9.23439 7.43924 9.15946 7.60163C9.0844 7.76407 9.03446 7.86336 9.00942 7.89939C8.98443 7.93543 8.9636 7.95814 8.94706 7.96705C8.83878 8.012 8.72616 8.0349 8.60961 8.0349C8.49289 8.0349 8.35134 7.97165 8.18477 7.84525C8.01823 7.71884 7.8454 7.54521 7.66626 7.32407C7.48712 7.10288 7.28509 6.79379 7.06009 6.39674C6.83526 5.9997 6.60198 5.53044 6.36039 4.98897L6.1605 4.59628C6.03555 4.34366 5.86486 3.97582 5.64825 3.4931C5.43152 3.01019 5.23995 2.54306 5.07342 2.09182C5.00685 1.90231 4.90684 1.75802 4.77357 1.65874L4.71103 1.61801C4.66945 1.58198 4.60271 1.54371 4.51115 1.50294C4.41945 1.46221 4.32378 1.433 4.22373 1.41503L0.799884 1.44196C0.450012 1.44196 0.21262 1.52783 0.0876214 1.69933L0.0375958 1.78045C0.0126049 1.82564 0 1.8978 0 1.99713C0 2.09642 0.0249909 2.21827 0.0750165 2.36255C0.574835 3.63515 1.11838 4.86247 1.70564 6.04469C2.29291 7.22692 2.80323 8.17923 3.2363 8.90078C3.66946 9.62285 4.11098 10.3043 4.56086 10.9449C5.01075 11.5857 5.30854 11.9964 5.45424 12.1768C5.60011 12.3575 5.71469 12.4926 5.79798 12.5829L6.11043 12.9077C6.31036 13.1243 6.60395 13.3838 6.99133 13.6861C7.3788 13.9885 7.80776 14.2863 8.27843 14.5798C8.74918 14.8729 9.29684 15.112 9.9217 15.297C10.5465 15.4822 11.1546 15.5565 11.7461 15.5206H13.1831C13.4746 15.4933 13.6954 15.3941 13.8455 15.2227L13.8952 15.1549C13.9286 15.101 13.9599 15.0173 13.9888 14.9047C14.018 14.7919 14.0326 14.6676 14.0326 14.5324C14.024 14.1445 14.0513 13.7948 14.1136 13.4835C14.1759 13.1722 14.2469 12.9376 14.3263 12.7795C14.4056 12.6217 14.4952 12.4884 14.5948 12.3804C14.6947 12.2722 14.7659 12.2066 14.8076 12.184C14.8491 12.1613 14.8822 12.1459 14.9072 12.1367C15.1072 12.0645 15.3425 12.1344 15.6135 12.3467C15.8842 12.5587 16.1382 12.8206 16.3758 13.1318C16.6132 13.4433 16.8985 13.7928 17.2317 14.1808C17.565 14.569 17.8565 14.8575 18.1063 15.0473L18.3562 15.2097C18.523 15.3181 18.7396 15.4174 19.0062 15.5076C19.2724 15.5978 19.5056 15.6204 19.7058 15.5753L22.9046 15.5212C23.221 15.5212 23.4672 15.4645 23.6418 15.3519C23.8168 15.2391 23.9207 15.1148 23.9543 14.9796C23.9877 14.8443 23.9895 14.6908 23.9606 14.5191C23.931 14.3479 23.9018 14.2282 23.8727 14.1605Z" fill="#53818C" />
									</svg>
									| @fabrica_tiz
							li
								a(href="#")
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M19.4977 9.99598L19.4977 9.99598L19.4977 10.0045C19.5207 12.5654 19.3686 15.1248 19.0427 17.665C18.9987 17.9806 18.857 18.2746 18.6372 18.5057C18.4186 18.7357 18.1336 18.892 17.8219 18.9527C15.2417 19.3661 12.6294 19.546 10.0168 19.49L10.0061 19.4898L9.99542 19.49C7.38283 19.546 4.77053 19.3661 2.19032 18.9527C1.87867 18.892 1.59369 18.7357 1.37501 18.5057C1.1552 18.2745 1.01344 17.9804 0.969542 17.6647C0.639476 15.1247 0.483352 12.5651 0.502257 10.0037H0.502323L0.50225 9.99559C0.47934 7.4347 0.63139 4.87524 0.95734 2.33505C1.00129 2.01947 1.14303 1.72549 1.36275 1.49438C1.58144 1.26437 1.86643 1.10815 2.17808 1.04744C4.76028 0.633625 7.37463 0.453769 9.98923 0.510071L9.99997 0.510302L10.0107 0.510072C12.6233 0.454135 15.2356 0.63399 17.8158 1.04744C18.1274 1.10815 18.4124 1.26437 18.6311 1.49438C18.8509 1.72554 18.9926 2.01961 19.0366 2.33527C19.3646 4.87538 19.5186 7.4349 19.4977 9.99598ZM13.8671 9.06577L13.8652 9.06455L8.53005 5.65541L8.2602 6.07634L8.52942 5.65501L8.5296 5.65513C8.36175 5.54763 8.1681 5.4872 7.96892 5.48012C7.76956 5.47304 7.57194 5.51966 7.39676 5.61513L7.63604 6.05416L7.39676 5.61514C7.22158 5.71061 7.07528 5.85144 6.97322 6.0229C6.87116 6.19437 6.81712 6.39014 6.81679 6.58969V6.59053L6.81678 13.4096L6.81679 13.4104C6.81712 13.61 6.87116 13.8058 6.97322 13.9772C7.07528 14.1487 7.22158 14.2895 7.39676 14.385L7.63604 13.946L7.39676 14.385C7.57194 14.4805 7.76955 14.5271 7.96892 14.52C8.1681 14.5129 8.36175 14.4525 8.5296 14.345C8.52975 14.3449 8.5299 14.3448 8.53005 14.3447L13.8652 10.9356L13.8671 10.9343C14.0233 10.8336 14.1517 10.6953 14.2407 10.5321C14.3296 10.3688 14.3762 10.1859 14.3762 10.0001C14.3762 9.81417 14.3296 9.63127 14.2407 9.46806C14.1517 9.30485 14.0233 9.16656 13.8671 9.06577Z" fill="#53818C" stroke="#53818C" />
									</svg>
									| @fabrica_tiz
							li 
								a(href="#")
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M17.822 0.354739C17.0347 0.711926 8.15948 4.85529 0.930467 8.21284C0.357872 8.49859 0 9.07009 0 9.64159C0 10.2131 0.429446 10.6417 0.930467 10.7131C1.35991 10.7846 5.65438 11.4275 5.65438 11.4275L6.87114 18.5713L7.51531 15.428L6.58484 10.7131L15.3169 4.28379L8.15948 12.1419L10.6646 14.9994C10.8077 15.1423 13.8854 18.7141 14.1002 18.9284C14.458 19.2856 15.0306 20 15.3169 20C15.8179 20 16.319 19.2856 16.5337 18.2141C16.7484 17.2139 18.1799 10.2845 19.9693 1.06911C20.184 0.0689903 19.2535 -0.359634 17.822 0.354739Z" fill="#53818C" />
									</svg>
									| @fabrica_tiz
							li 
								a(href="#")
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.90909 0C2.65 0 0 2.65 0 5.90909V14.0909C0 17.35 2.65 20 5.90909 20H14.0909C17.35 20 20 17.35 20 14.0909V5.90909C20 2.65 17.35 0 14.0909 0H5.90909ZM15.4545 3.63636C15.9545 3.63636 16.3636 4.04545 16.3636 4.54545C16.3636 5.04545 15.9545 5.45455 15.4545 5.45455C14.9545 5.45455 14.5455 5.04545 14.5455 4.54545C14.5455 4.04545 14.9545 3.63636 15.4545 3.63636ZM10 5C12.7591 5 15 7.24091 15 10C15 12.7591 12.7591 15 10 15C7.24091 15 5 12.7591 5 10C5 7.24091 7.24091 5 10 5ZM10 5.90909C7.74545 5.90909 5.90909 7.74545 5.90909 10C5.90909 12.2545 7.74545 14.0909 10 14.0909C12.2545 14.0909 14.0909 12.2545 14.0909 10C14.0909 7.74545 12.2545 5.90909 10 5.90909Z" fill="#53818C" />
									</svg>
									| @fabrica_tiz
			include layouts/s-subscribe.pug

			include layouts/footer.pug

		include layouts/scripts.pug
