doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Производство - История - Сайт ТИЗ


		link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
		

		include layouts/styles.pug
	body
		.page-wrapper

			include layouts/header.pug

			.dflt-breadcrumbs
				.container
					ul
						li
							a(href="#") Главная
						li
							a(href="#") Фабрика театральных костюмов
						li
							span Истории создания костюмов: Петр I
			
			section.main-story
				.container
					h1.main-story__title
						| Петр I. Театр Музыкальной Комедии
					.main-story__inner
						.main-story__row
							p.main-story__desc
								| С 2001 года наша <a class="main-story__desc-link" href="#">фабрика</a> находится в Санкт-Петербурге, на Васильевском острове, где еще с XVIII-го века располагались передовые фабрики и мастерские немецких и английских производителей текстиля и мастерские французских мастеров костюма, работавших в столице Российской империи на протяжении двух веков, и передавших свои достижения и традиции ленинградским профессионалам, - чей опыт мы используем в нашем производстве.
								br
								br
								| Мастерские имеют большие производственные площади, что позволяет исполнить комплексный заказ целого спектакля или шоу, от перчаток и обуви до объёмных сложных костюмов, выполненных по всем нормам изготовления театрального костюма.
								br
								br
								| Основной вид деятельности предприятия: профессиональный пошив театральных, концертных и карнавальных костюмов для спектаклей и сценических выступлений, изготовление головных уборов, аксессуаров и обуви.
							.main-story__img1
								img(src="img/history-img-1.jpg", alt="#")
						.main-story__row
							.main-story__img2
								img(src="img/history-img-2.jpg", alt="#")
							.main-story__img3
								img(src="img/history-img-3.jpg", alt="#")
			
			section.other-stories
				.container
					.other-stories__list
						.other-stories__list-item
							h3.other-stories__list-item-title Костюм Петра I
							.other-stories__list-item-info
								p.other-stories__list-item-desc
									| С 2001 года наша фабрика находится в Санкт-Петербурге, на Васильевском острове, где еще с XVIII-го века располагались передовые фабрики и мастерские немецких и английских производителей текстиля и мастерские французских мастеров костюма, работавших в столице Российской империи на протяжении двух веков, и передавших свои достижения и традиции ленинградским профессионалам, - чей опыт мы используем в нашем производстве.
									br
									br
									| Мастерские имеют большие производственные площади, что позволяет исполнить комплексный заказ целого спектакля или шоу, от перчаток и обуви до объёмных сложных костюмов, выполненных по всем нормам изготовления театрального костюма.
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-4.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Иван Ожогин в костюме Петра I на сцене театра музыкальной комедии
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-5.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Автор эскиза: Петров И.И.
						.other-stories__list-item
							h3.other-stories__list-item-title Костюм Лефорта
							.other-stories__list-item-info
								p.other-stories__list-item-desc
									| С 2001 года наша фабрика находится в Санкт-Петербурге, на Васильевском острове, где еще с XVIII-го века располагались передовые фабрики и мастерские немецких и английских производителей текстиля и мастерские французских мастеров костюма, работавших в столице Российской империи на протяжении двух веков, и передавших свои достижения и традиции ленинградским профессионалам, - чей опыт мы используем в нашем производстве.
									br
									br
									| Мастерские имеют большие производственные площади, что позволяет исполнить комплексный заказ целого спектакля или шоу, от перчаток и обуви до объёмных сложных костюмов, выполненных по всем нормам изготовления театрального костюма.
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-6.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Иван Ожогин в костюме Петра I на сцене театра музыкальной комедии
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-7.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Автор эскиза: Петров И.И.
						.other-stories__list-item
							h3.other-stories__list-item-title Костюм Менщикова
							.other-stories__list-item-info
								p.other-stories__list-item-desc
									| С 2001 года наша фабрика находится в Санкт-Петербурге, на Васильевском острове, где еще с XVIII-го века располагались передовые фабрики и мастерские немецких и английских производителей текстиля и мастерские французских мастеров костюма, работавших в столице Российской империи на протяжении двух веков, и передавших свои достижения и традиции ленинградским профессионалам, - чей опыт мы используем в нашем производстве.
									br
									br
									| Мастерские имеют большие производственные площади, что позволяет исполнить комплексный заказ целого спектакля или шоу, от перчаток и обуви до объёмных сложных костюмов, выполненных по всем нормам изготовления театрального костюма.
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-8.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Иван Ожогин в костюме Петра I на сцене театра музыкальной комедии
								.other-stories__list-item-img
									.other-stories__list-item-img-inner
										img(src="img/history-img-9.jpg", alt="#")
									p.other-stories__list-item-img-desc
										| Автор эскиза: Петров И.И.

			include layouts/s-get-callback.pug

			include layouts/s-subscribe.pug

			include layouts/footer.pug

		include layouts/scripts.pug
