doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Карточка производственного образца - Сайт ТИЗ


		link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
		

		include layouts/styles.pug
	body
		.page-wrapper

			include layouts/header.pug

			.dflt-breadcrumbs
				.container
					ul
						li
							a(href="#") Главная
						li
							a(href="#") Фабрика театральных костюмов
						li
							a(href="#") Каталог образцов
						li
							span Средневековые костюмы
			
			
			section.product-card
				.container
					.product-card__topline
						a.dflt-bttn.dflt-bttn_small.dflt-bttn_ghost(href="#") 
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.4721 3.52876C10.7324 3.78911 10.7324 4.21122 10.4721 4.47157L6.94346 8.00016L10.4721 11.5288C10.7324 11.7891 10.7324 12.2112 10.4721 12.4716C10.2117 12.7319 9.7896 12.7319 9.52925 12.4716L5.52925 8.47157C5.2689 8.21122 5.2689 7.78911 5.52925 7.52876L9.52925 3.52876C9.7896 3.26841 10.2117 3.26841 10.4721 3.52876Z" fill="#153138"/>
							</svg>
							span Назад в каталог
					.product-card__inner
						.product-card__main
							.product-card__swiper-plates.swiper#swiper-11
								.product-card__swiper-wrapper-plates.swiper-wrapper
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-5.png" data-fancybox="10")
											img(src="img/product-card-img-5.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-6.png" data-fancybox="10")
											img(src="img/product-card-img-6.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-7.png" data-fancybox="10")
											img(src="img/product-card-img-7.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")
									.product-card__swiper-slide-plates.swiper-slide
										a.product-card__photo-plates-item(href="img/product-card-img-8.png" data-fancybox="10")
											img(src="img/product-card-img-8.png", alt="#")

							.product-card__tabs
								.product-card__tabs-nav
									ul
										li
											a.active(href="#productCardTab1")
												| О товаре
										li
											a(href="#productCardTab2")
												| Характеристики
										li
											a(href="#productCardTab3") 
												| Отзывы
												span 23
								.product-card__tabs-content
									.product-card__tabs-content-section.active#productCardTab1
										.product-card__tabs-content-desc
											h4
												| Историческая справка о костюме
											p
												| Верхняя шуба из жаккарда, расширенного к низу силуэта, длиной до пола, с притачной утепленной стеганой подкладкой из синтепона:
											ul
												li
													| Благодаря жаккардовому переплетению нитей светло-голубого, синего, серебристого цвета образуется объемный узор в форме морозных завитков;
												li
													| Полочка с двубортной застежкой на навесные петли-пуговицы и с притачными планками, выполненными из отделочного искусственного меха;
												li
													| Спинка со средним швом;
												li
													| Рукава декоративные, втачные, с прорезями для рук на линии локтя, окантованные декоративной тесьмой. По линии выше подгибки низа рукава проложена отделочная декоративная тесьма и меховая опушка.
											h4
												| Отличительные особенности изделия
											p
												| Верхняя шуба из жаккарда, расширенного к низу силуэта, длиной до пола, с притачной утепленной стеганой подкладкой из синтепона:
											ul
												li
													| Благодаря жаккардовому переплетению нитей светло-голубого, синего, серебристого цвета образуется объемный узор в форме морозных завитков;
												li
													| Полочка с двубортной застежкой на навесные петли-пуговицы и с притачными планками, выполненными из отделочного искусственного меха;
												li
													| Спинка со средним швом;
												li
													| Рукава декоративные, втачные, с прорезями для рук на линии локтя, окантованные декоративной тесьмой. По линии выше подгибки низа рукава проложена отделочная декоративная тесьма и меховая опушка.
											h4
												| Процесс пошива
											p
												| Верхняя шуба из жаккарда, расширенного к низу силуэта, длиной до пола, с притачной утепленной стеганой подкладкой из синтепона:
											ul
												li
													| Благодаря жаккардовому переплетению нитей светло-голубого, синего, серебристого цвета образуется объемный узор в форме морозных завитков;
												li
													| Полочка с двубортной застежкой на навесные петли-пуговицы и с притачными планками, выполненными из отделочного искусственного меха;
												li
													| Спинка со средним швом;
												li
													| Рукава декоративные, втачные, с прорезями для рук на линии локтя, окантованные декоративной тесьмой. По линии выше подгибки низа рукава проложена отделочная декоративная тесьма и меховая опушка.
									.product-card__tabs-content-section#productCardTab2
										.product-card__tabs-content-specs
											h4.product-card__tabs-content-specs-title
												| Материалы:
											ul.product-card__tabs-content-specs-list
												li
													span Основной:
													span искусственный мех, жаккард
												li
													span Подкладка:
													span стежка
												li
													span Отделка:
													span серебряная тесьма, аппликации ручной подбор, аппликация из страз, жемчуг искусственный
										.product-card__tabs-content-specs
											h4.product-card__tabs-content-specs-title
												| Параметры модели:
											ul.product-card__tabs-content-specs-list
												li
													span Рост
													span 169 см
												li
													span Размер одежды
													span 46 (М)
										.product-card__more-desc
											p Особенности изделия:
											ul
												li Ручная работа
												li Изготовлено по театральной технологии пошива костюмов
												li Сделано в tizspb.com
									
									.product-card__tabs-content-section#productCardTab3
										.product-card__tabs-content-reviews
											.product-card__tabs-content-link-wrapp
												a.dflt-bttn(href="#") 
													span Добавить отзыв
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0007 3.33325C10.4609 3.33325 10.834 3.70635 10.834 4.16659V9.16658H15.834C16.2942 9.16658 16.6673 9.53968 16.6673 9.99992C16.6673 10.4602 16.2942 10.8333 15.834 10.8333H10.834V15.8333C10.834 16.2935 10.4609 16.6666 10.0007 16.6666C9.54041 16.6666 9.16732 16.2935 9.16732 15.8333V10.8333H4.16732C3.70708 10.8333 3.33398 10.4602 3.33398 9.99992C3.33398 9.53968 3.70708 9.16658 4.16732 9.16658H9.16732V4.16659C9.16732 3.70635 9.54041 3.33325 10.0007 3.33325Z" fill="white"/>
													</svg>
											.product-card__tabs-content-reviews-inner
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														ul.reviews-content__customers-item-gallery
															li
																a(href="img/reviews-img-1.jpg" data-fancybox="2")
																	img(src="img/reviews-img-1.jpg", alt="#")
															li
																a(href="img/reviews-img-2.jpg" data-fancybox="2")
																	img(src="img/reviews-img-2.jpg", alt="#") 
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
													.reviews-content__customers-item-answer
														.reviews-content__customers-item-answer-icon
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M5 8L10 3L15 8" stroke="#C4D3D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M10 3L10 11C10 16.523 14.477 21 20 21L21 21" stroke="#C4D3D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
														.reviews-content__customers-item-answer-author
															| Фабрика театральных костюмов «ТИЗ»
														p.reviews-content__customers-item-answer-text
															| Спасибо за высокую оценку наших изделий! Будем рады увидеть вас снова в нашем салоне!
														.reviews-content__customers-item-answer-date-time
															span 12:30
															span 16.12.2020
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														ul.reviews-content__customers-item-gallery
															li
																a(href="img/reviews-img-1.jpg" data-fancybox="3")
																	img(src="img/reviews-img-1.jpg", alt="#")
															li
																a(href="img/reviews-img-2.jpg" data-fancybox="3")
																	img(src="img/reviews-img-2.jpg", alt="#") 
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														ul.reviews-content__customers-item-gallery
															li
																a(href="img/reviews-img-1.jpg" data-fancybox="4")
																	img(src="img/reviews-img-1.jpg", alt="#")
															li
																a(href="img/reviews-img-2.jpg" data-fancybox="4")
																	img(src="img/reviews-img-2.jpg", alt="#") 
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
												.reviews-content__customers-item
													.reviews-content__customers-item-inner
														.reviews-content__customers-item-author-wrapp
															.reviews-content__customers-item-author Сергеев Петр Иванович 
															.reviews-content__box-star 
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg>
																<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z" fill="#DD9850" />
																</svg> 
														p.reviews-content__customers-item-text
															| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
														ul.reviews-content__customers-item-gallery
															li
																a(href="img/reviews-img-1.jpg" data-fancybox="5")
																	img(src="img/reviews-img-1.jpg", alt="#")
															li
																a(href="img/reviews-img-2.jpg" data-fancybox="5")
																	img(src="img/reviews-img-2.jpg", alt="#") 
														.reviews-content__customers-item-date-time
															span 12:30
															span 16.12.2020
												
												button.dflt-bttn.dflt-bttn_ghost
													span Загрузить ещё

						.product-card__info
							.product-card__info-inner
								h1.product-card__title
									| Платье в средневековом стиле с капюшоном
								.product-card__hidden-box-swiper
								p.product-card__desc
									| Средневековое женское платье для образа Белоснежки. Платье в пол, с капюшоном и длинными присборенными рукавами. Белая вставка спереди и отделка капюшона освежают лицо, а шнуровка подчеркивает талию. Платье декорировано тесьмой с золотым орнаментом. Основной цвет: какао. Ткань с эффектом крэш (жатая), сама собой переносит вас в мир фэнтези, мир фей гномов и драконов.
								
											
								.product-card__more-desc
									p Особенности изделия:
									ul
										li Ручная работа производственного цеха ТИЗ
										li Изготовлено по театральной технологии пошива костюмов
										li Итальянские ткани и качественная фурнитура
								.product-card__info-row
									.product-card__price
										| от 
										span 84 000 
										| руб.
								.product-card__info-row
									a.dflt-bttn.product-card__full-width(href="#") 
											span Заказать пошив
								
								
					
			include layouts/s-subscribe.pug

			include layouts/footer.pug

		include layouts/scripts.pug
