doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Отзывы о фабрике - Сайт ТИЗ

		link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
		
		include layouts/styles.pug
	body
		.page-wrapper

			include layouts/header.pug

			.dflt-breadcrumbs
				.container
					ul
						li
							a(href="#") Главная
						li
							span Отзывы

			section.reviews-content
				.container
					h1.reviews-content__title
						| Отзывы о фабрике
					.reviews-content__add-more
						a.dflt-bttn(href="#") 
							span Добавить отзыв
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.3335C10.4589 3.3335 10.832 3.70659 10.832 4.16683V9.16683H15.832C16.2923 9.16683 16.6654 9.53993 16.6654 10.0002C16.6654 10.4604 16.2923 10.8335 15.832 10.8335H10.832V15.8335C10.832 16.2937 10.4589 16.6668 9.9987 16.6668C9.53846 16.6668 9.16536 16.2937 9.16536 15.8335V10.8335H4.16536C3.70513 10.8335 3.33203 10.4604 3.33203 10.0002C3.33203 9.53993 3.70513 9.16683 4.16536 9.16683H9.16536V4.16683C9.16536 3.70659 9.53846 3.3335 9.9987 3.3335Z" fill="white"/>
							</svg>
					.reviews-content__inner
						.reviews-content__customers
							h3.reviews-content__subtitle
								| Наши покупатели 
								span 
									| (
									span 45 
									| отзывов)
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									ul.reviews-content__customers-item-gallery
										li
											a(href="img/reviews-img-1.jpg" data-fancybox="1")
												img(src="img/reviews-img-1.jpg", alt="#")
										li
											a(href="img/reviews-img-2.jpg" data-fancybox="1")
												img(src="img/reviews-img-2.jpg", alt="#") 
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
								.reviews-content__customers-item-answer
									.reviews-content__customers-item-answer-icon
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5 8L10 3L15 8" stroke="#C4D3D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M10 3L10 11C10 16.523 14.477 21 20 21L21 21" stroke="#C4D3D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									.reviews-content__customers-item-answer-author
										| Фабрика театральных костюмов «ТИЗ»
									p.reviews-content__customers-item-answer-text
										| Спасибо за высокую оценку наших изделий! Будем рады увидеть вас снова в нашем салоне!
									.reviews-content__customers-item-answer-date-time
										span 12:30
										span 16.12.2020
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									ul.reviews-content__customers-item-gallery
										li
											a(href="img/reviews-img-1.jpg" data-fancybox="2")
												img(src="img/reviews-img-1.jpg", alt="#")
										li
											a(href="img/reviews-img-2.jpg" data-fancybox="2")
												img(src="img/reviews-img-2.jpg", alt="#") 
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									ul.reviews-content__customers-item-gallery
										li
											a(href="img/reviews-img-1.jpg" data-fancybox="3")
												img(src="img/reviews-img-1.jpg", alt="#")
										li
											a(href="img/reviews-img-2.jpg" data-fancybox="3")
												img(src="img/reviews-img-2.jpg", alt="#") 
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
							.reviews-content__customers-item
								.reviews-content__customers-item-inner
									.reviews-content__customers-item-author Сергеев Петр Иванович 
									p.reviews-content__customers-item-text
										| Спасибо за потрясающий костюм снегурочки! Брали в аренду на Новый Год, очень понравилось! Лучшая фабрика!
									ul.reviews-content__customers-item-gallery
										li
											a(href="img/reviews-img-1.jpg" data-fancybox="4")
												img(src="img/reviews-img-1.jpg", alt="#")
										li
											a(href="img/reviews-img-2.jpg" data-fancybox="4")
												img(src="img/reviews-img-2.jpg", alt="#") 
									.reviews-content__customers-item-date-time
										span 12:30
										span 16.12.2020
							
							a(href="reviews-1.html").dflt-bttn.dflt-bttn_ghost
								span Смотреть все
						.reviews-content__orgs
							h3.reviews-content__subtitle
								| Театры и организации
								span 
									| (
									span 10 
									| отзывов)
							.reviews-content__orgs-item
								.reviews-content__orgs-item-top
									.reviews-content__orgs-item-icon
										img(src="img/reviews-icon-1.png", alt="#")
									.reviews-content__orgs-item-info
										span.reviews-content__orgs-item-author
											| Сергеев Петр Иванович 
										span.reviews-content__orgs-item-name
											| Мариинский театр
								p.reviews-content__orgs-item-text
									| Выражаю благодарность за продуктивну работу! Сложившаяся структура организации позволяет оценить значение новых предложений. Приятно, граждане, наблюдать, как ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть указаны как претенденты на роль ключевых факторов. В рамках.
							.reviews-content__orgs-item
								.reviews-content__orgs-item-top
									.reviews-content__orgs-item-icon
										img(src="img/reviews-icon-2.png", alt="#")
									.reviews-content__orgs-item-info
										span.reviews-content__orgs-item-author
											| Сергеев Петр Иванович 
										span.reviews-content__orgs-item-name
											| Детский ледовый театр
								p.reviews-content__orgs-item-text
									| Приятно, граждане, наблюдать, как ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть указаны как претенденты на роль ключевых факторов.
									br
									br
									| Ношу размер 50, взяла 52, надо брать больше, если планировать что-то под костюм надеть. Костюм состоит из юбки на резинке с подъюбником, верхней блузки с молнией сзади (по всей спине до конца расстегивается; пояс на талии не на резинке).
							.reviews-content__orgs-item
								.reviews-content__orgs-item-top
									.reviews-content__orgs-item-icon
										img(src="img/reviews-icon-3.png", alt="#")
									.reviews-content__orgs-item-info
										span.reviews-content__orgs-item-author
											| Сергеев Петр Иванович 
										span.reviews-content__orgs-item-name
											| Театр комедианты
								p.reviews-content__orgs-item-text
									| Выражаю благодарность за продуктивну работу! Сложившаяся структура организации позволяет оценить значение новых предложений. Приятно, граждане, наблюдать, как ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть указаны как претенденты на роль ключевых факторов. В рамках.
							.reviews-content__orgs-item
								.reviews-content__orgs-item-top
									.reviews-content__orgs-item-icon
										img(src="img/reviews-icon-4.png", alt="#")
									.reviews-content__orgs-item-info
										span.reviews-content__orgs-item-author
											| Сергеев Петр Иванович 
										span.reviews-content__orgs-item-name
											| Мариинский театр
								p.reviews-content__orgs-item-text
									| Приятно, граждане, наблюдать, как ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть указаны как претенденты на роль ключевых факторов.
									br
									br
									| Ношу размер 50, взяла 52, надо брать больше, если планировать что-то под костюм надеть. Костюм состоит из юбки на резинке с подъюбником, верхней блузки с молнией сзади (по всей спине до конца расстегивается; пояс на талии не на резинке).
							a(href="reviews-2.html").dflt-bttn.dflt-bttn_ghost
								span Смотреть все

			section.posters-plates
				.container
					h2.posters-plates__title Грамоты и благодарности
					.posters-plates__slider.swiper
						.swiper-wrapper
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-1.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-1.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-2.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-2.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-3.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-3.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-4.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-4.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-1.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-1.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-2.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-2.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-3.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-3.jpg", alt="")
							.posters-plates__slider-item.swiper-slide
								a.posters-plates__slider-item-link(href="img/reviews-diplom-4.jpg" data-fancybox="20")
									img(src="img/reviews-diplom-4.jpg", alt="")
						.posters-plates__slider-nav
							.swiper-button-prev
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M10.9714 3.52876C11.2317 3.78911 11.2317 4.21122 10.9714 4.47157L7.44279 8.00016L10.9714 11.5288C11.2317 11.7891 11.2317 12.2112 10.9714 12.4716C10.711 12.7319 10.2889 12.7319 10.0286 12.4716L6.02858 8.47157C5.76823 8.21122 5.76823 7.78911 6.02858 7.52876L10.0286 3.52876C10.2889 3.26841 10.711 3.26841 10.9714 3.52876Z" fill="#53818C"/>
								</svg>
							.swiper-button-next
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M6.02858 3.52876C6.28892 3.26841 6.71103 3.26841 6.97138 3.52876L10.9714 7.52876C11.2317 7.78911 11.2317 8.21122 10.9714 8.47157L6.97138 12.4716C6.71103 12.7319 6.28892 12.7319 6.02858 12.4716C5.76823 12.2112 5.76823 11.7891 6.02858 11.5288L9.55717 8.00016L6.02858 4.47157C5.76823 4.21122 5.76823 3.78911 6.02858 3.52876Z" fill="#53818C"/>
								</svg>

			include layouts/s-subscribe.pug

			include layouts/footer.pug

		include layouts/scripts.pug
